.btn {
	padding: 1rem 1.5rem;
	border-radius: 8px;
	border: 2px solid var(--green);
	font-weight: 700;
	display: flex;
}

.primary {
	background-color: var(--green);
	color: var(--white);

	&:hover {
		background-color: var(--green-light);
	}
}

.outline {
	background-color: transparent;
	color: var(--green);

	&:hover {
		background-color: var(--green);
		color: var(--white);
	}
}

.like {
	border: none;
	background-color: transparent;
	color: var(--gray-300);
	display: flex;
	align-items: center;
	&.-pressed {
		color: var(--green);
	}
	> strong {
		margin-left: 0.625rem;
		font-size: 0.875rem;
		display: flex;
		align-items: center;
	}

	&:hover {
		color: var(--gray-100);
	}
}
