.post-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 2.5rem;
	border-radius: 8px;
	background-color: var(--gray-600);
}

.post-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-header > time {
	font-size: 0.875rem;
	color: var(--gray-300);
	line-height: 1.6;
}

.post-content {
	margin: 1.5rem 0;
}

.post-footer {
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--gray-500);
	padding-top: 1.5rem;
	+ div {
		margin-top: 2rem;
	}
}

.post-footer > textarea {
	border-radius: 8px;
	background: var(--gray-700);
	min-height: 6rem;
	line-height: 1.4;
	color: var(--gray-200);
	padding: 0.8125rem 1rem;
	margin: 1rem 0;
	resize: none;
	border: 1px solid transparent;
}

.post-footer > button {
	width: fit-content;
}
