.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar-frame {
	border-radius: 8px;
	border: 2px solid var(--green-light, #00b37e);
	width: 60px;
	height: 60px;
	padding: 3px;
	display: flex;
}

.avatar-frame img {
	border-radius: 6px;
	/* background-color: var(--gray-400); */
}

.avatar span {
	font-size: 0.875rem;
}

.user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 16px;
}
