.avatar {
	display: flex;
	align-items: center;
	line-height: 160%;
}

.vertical {
	flex-direction: column;
	position: relative;
	top: -35px;
}

.vertical .avatar-frame {
	margin-bottom: 16px;
}

.horizontal .avatar-frame {
	margin-right: 16px;
}

.avatar-frame {
	border-radius: 8px;
	border: 2px solid var(--green-light);
	width: 60px;
	height: 60px;
	padding: 3px;
	display: flex;
	background: var(--gray-600);
}

.avatar-frame img {
	border-radius: 6px;
}

.avatar span {
	font-size: 0.875rem;
	color: var(--gray-300);
}

.avatar strong {
	color: var(--gray-100);
}

.user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	&.-horizontal {
		align-items: flex-start;
	}
}
